<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<!-- CSSファイルをリンク -->
	<link href="CSS/style.css" rel="stylesheet">
	<title>価格計算画面</title>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			console.log("価格計算画面が読み込まれました");
		});
		let select = document.querySelector('[name="bigDirectionlist"]');
		
		function getLittleDirectionlist() {
			const bigDirection = document.getElementById("bigDirectionlist").value;
			console.log(bigDirection);
		}
		
		function calc(weight, price) {
			const resultpr_value = document.getElementById('resultpr').value = Math.round(price / weight * 100);
			const cal_value = document.getElementById('cal').value = Math.round(lean_value * 40);
			const protein_value = document.getElementById('protein').value = Math.round(lean_value * 2);
		}
	</script>
</head>

<body>
	<h1>価格計算</h1>

	<form class="calculate_form">
		<table border="0" Align="center">
			<tbody>
				<tr>
					<th>種類(大分類)</th>
					<td>
						<select type="String" class="box" name="bigDirectionList" onchange="getLittleDirectionlist()">
							<optgrou>
								<option th:each="bigDirection : ${bigDirectionList}"
									th:value="${bigDirection.categoryId}" th:text="${bigDirection.categoryName}"
									th:selected="${bigDirection.categoryId == selectedValue}">
								</option>
								</optgroup>
						</select>
					</td>
				</tr>
				<tr>
					<th>種類(小分類)</th>
					<td>
						<select type="String" class="box" name="littleDirectionList">
							<optgrou>
								<optgrou>
									<option th:each="littleDirection : ${littleDirectionlist}"
										th:value="${littleDirection.categoryId}"
										th:text="${littleDirection.categoryName}"
										th:selected="${littleDirection.categoryId == selectedValue}">
									</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>内容量(g)</th>
					<td>
						<input type="number" class="box" name="weight">
					</td>
				</tr>
				<tr>
					<th>料金(円)</th>
					<td>
						<input id="price" type="number" class="box" name="price">
					</td>
				</tr>
				<tr>
					<th colspan="2" class="grid-cell"><input type="button" class="calc-btn"
							onclick="calc(weight.value, price.value);" value="計算">
					</th>
				</tr>
			</tbody>
		</table>

		<table border="0" Align="center">
			<tbody>
				<tr>
					<th>100グラム当たりの料金：</th>
					<th><input id="resultpr" class="box" type="text" readonly=""></th>
				</tr>
				<tr>
					<th>同種類の最安値：</th>
					<th><input id="cal" class="box" type="text" readonly=""></th>
				</tr>
				<tr>
					<th>最安値の店舗：</th>
					<th><input id="protein" class="box" type="text" readonly=""></th>
				</tr>
			</tbody>
		</table>
	</form>

	<button type="button" onclick="history.back()">前のページへ戻る</button>

</body>

</html>